header {
    background-color:#9cd6f4;
    padding:40px 40px 40px 20px;
}

body {
    margin:0;
}

h1 {
    font-size:38px;
    margin-bottom:0px;
}

main {
    padding-left:15px;
    padding-right:15px;
}

span {
    color:#4eb5ff;
}

ul {
    margin-left:-20px;
    margin-top: 30px;
}
.logo {
    width: 200px;
}

#align {
    margin-bottom:20px;
    font-size:small;
}

#align-top {
    margin-top:0px;
}

.grey {
    color:#808080;
}

#bigger {
    font-size:large;
}

.photo-footer {
    font-size:75%;
}

.foot {
    background-color:#313a6b;
    padding:20px 0px;
    color:white;
    font-size: smaller;
    text-align:center;
}

table {
    margin-top:40px;
    width:100%;
    margin-bottom:40px;
}

thead tr {
    background-color:#7fa6fb;
    color:white;
    text-align:left;
}

tbody tr:nth-child(odd) {
    background-color: #dfe5f2; }

table tr td {
    padding:2px;
     
}table th {
    border:1% solid white;
}

table td {
    border:1% solid white;
}

.sizing {
    width:50%;
}