header {
    background-color: #9cd6f4;
    padding:40px 40px 40px 20px;
}

body {
    margin:0;
}

h1 {
    font-size:38px;
    margin-bottom:0px;
}

span {
    color:#4eb5ff;
}
.logo {
    width: 200px;
}

#align {
    margin-bottom:20px;
    font-size:small;
}

#align-top {
    margin-top:0px;
}

.grey {
    color:#808080;
}

#bigger {
    font-size:large;
}

.photo-footer {
    font-size:75%;
}
