header {
    background-color: #9cd6f4;
    padding:40px 40px 40px 20px;
}

body {
    margin:0;
}

h1 {
    font-size:40px;
    margin-bottom:0px;
}

.logo {
    width: 200px;
}

#align {
    margin-bottom:20px;
}

#align-top {
    margin-top:0px;
}

.grey {
    color:#808080;
}
